:root{
    --cool-color: #d6f1f6
}
h1 { /* apply navy color to the h1 element using the different methods */
    color: navy;
    color: (0, 0, 128);
    color: (0, 0, 128, 0);
    color: #000080;
}
h2{ /* use a wider gamut color for h2*/
    color: color(srgb 0.8 0.2 0);
}
h3{ /* use a mix of colors with color mix for h3*/
    color: color-mix(in srgb, red, blue);
}
section{ /* apply a background style using a var with a fallback*/
    background-color: var(--cool-color, lightblue);


    /*relative measurements*/
    font-size: 1rem;
    padding: 1em;
    margin: 2%;


    /*longform margin changes*/
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;

    /*shotform margin changes*/
    margin: 100px 100px 100px 100px;

    /*auto margin change*/
    margin: auto;

    /*longform padding changes*/
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;

    /*shortform padding changes*/
    padding: 16px, 16px, 16px, 16px;





}
p{
    /*absolute measurements*/
    font-size: 18px;
    padding: 1cm;
    margin: 25mm;

    /*borders*/
    border-style: dotted;
    border-color: blue;
    border-width: 10px;
    border-radius: 0%;

    /*text decoration*/
    color: darkred;
    text-decoration: underline;
    text-align: center;
}